* {
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom:20px;
    color: red;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FEFCE8;
    height: 100vh;
}

.signup img {
    width: 40%;
    margin: 1.5rem 0;
}

.signup button {
    padding: .6rem 2rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin-bottom: .6rem;
    border-radius: 10px;
    width: 50%;
    background-color: red;
}

.signup .line-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7rem;
}

.signup .or {
    font-weight: bold;
    margin: 0 1rem;
}

.signup .line {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: .7rem 0;
}

.signup .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
}

.signup input {
    width: 50%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 0.5rem;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup form button {
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin: 1rem 0;
    border-radius: 10px;
    background-color: #007bff;
}

.signup label {
    margin: .3rem 0;
}

.signup .error {
    color: red;
    font-weight: bold;
    margin: .7rem 0;
}

.signup a {
    text-decoration: none;
    color: #3390f3;
}

@media (max-width: 767px) {
    .signup {
        flex-direction: column;
        align-items: center;
    }

    .signup img {
        width: 60%;
        margin: 1rem 0;
    }

    .signup .form {
        width: 90%;
        height: auto;
    }

    .signup input {
        width: 90%;
    }

    .signup button {
        width: 90%;
    }

    .signup .line-container {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .signup img {
        width: 35%;
        margin: 1.5rem 0;
    }

    .signup .form {
        width: 70%;
    }

    .signup input {
        width: 70%;
    }

    .signup button {
        width: 70%;
    }

    .signup .line-container {
        width: 70%;
    }
}
